<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hit.cs.zhycryptdemo.mapper.CustomerEnc1Mapper">
    <resultMap id="BaseResultMap" type="cn.edu.hit.cs.zhycryptdemo.model.CustomerEnc1">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name_enc" jdbcType="VARCHAR" property="nameEnc"/>
        <result column="age_enc" jdbcType="VARCHAR" property="ageEnc"/>
        <result column="tel_enc" jdbcType="VARCHAR" property="telEnc"/>
        <result column="idnumber_enc" jdbcType="VARCHAR" property="idnumberEnc"/>
        <result column="income_enc" jdbcType="VARCHAR" property="incomeEnc"/>
        <result column="outcome_enc" jdbcType="VARCHAR" property="outcomeEnc"/>
        <result column="userid" jdbcType="VARCHAR" property="userid"/>
    </resultMap>
    <sql id="Base_Column_List">
      id,name_enc,age_enc,tel_enc,idnumber_enc,income_enc,outcome_enc,userid
    </sql>

    <!--手动添加-->
    <select id="listByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `customer_enc1`
        where 1=1
        <if test="name != null and name != ''" >
            and name_enc LIKE CONCAT('%', #{name}, '%')
        </if>
        <!--<if test="incomeMin != null and incomeMin != ''" >
            and income_enc &gt;= #{incomeMin}
        </if>
        <if test="incomeMax != null and incomeMax != ''" >
            and income_enc &lt;= #{incomeMax}
        </if>
        <if test="outcomeMin != null and outcomeMin != ''" >
            and outcome_enc &gt;= #{outcomeMin}
        </if>
        <if test="outcomeMax != null and outcomeMax != ''" >
            and outcome_enc &lt;= #{outcomeMax}
        </if>-->
    </select>

    <insert id="insert" parameterType="Object">
        insert into `customer_enc1` (
        <include refid="Base_Column_List"/>
        )
        values (
        #{id,jdbcType=INTEGER},
        #{nameEnc,jdbcType=VARCHAR},
        #{ageEnc,jdbcType=VARCHAR},
        #{telEnc,jdbcType=VARCHAR},
        #{idnumberEnc,jdbcType=VARCHAR},
        #{incomeEnc,jdbcType=VARCHAR},
        #{outcomeEnc,jdbcType=VARCHAR},
        #{userid,jdbcType=VARCHAR}
        )
    </insert>

</mapper>